body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-color: #0093E9;
}

.container__searching {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.container__searching--input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    padding: 0px 20px;
    height: 40px;
    width: 60%;
}

.container__searching--button {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    padding: 0px 20px;
    cursor: pointer;
    height: 40px;
    width: 190px;
    color: white;
    font-weight: bold;
}

::placeholder {
    font-style: italic;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__carrusel--scroll {
    overflow: auto;
    white-space: nowrap;
    margin-top: 50px;
    width: 70%;
}

/* Estilos para editar el scroll del carrusel */

.container__carrusel--scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container__carrusel--scroll::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

/* ---- */

.container img {
    padding: 15px;
    margin: 10px 10px;
    border-radius: 20px;
    background-color: white;
    width: 200px;
    height: 250px;
    transition: transform .2s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.5);
}

img:hover ~ img{
    margin-left: 70px;
    overflow: hidden;
}