* {
    box-sizing: border-box;
}


.flex-container {
    display: flex;
    background-color: green;
    padding: 10px;
    border: 2px solid black;
}

.flex-container  div {
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}
