body {
    font-family: 'Roboto', sans-serif;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.container__searching {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.container__searching--input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    padding: 0px 20px;
    height: 40px;
    width: 60%;
}

.container__searching--button {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    padding: 0px 20px;
    cursor: pointer;
    height: 40px;
    width: 190px;
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
} 

.container__row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px white solid;
}

.container__row--number {
    width: 20%;
    text-align: center;
    margin: 10px 0px;
}

.container__row--names {
    width: 40%;
    text-align: center;
    margin: 10px 0px;
}

.container__row--age {
    width: 40%;
    text-align: center;
    margin: 10px 0px;
}

.container__row h1 {
    font-size: 20px;
}